body{
    text-align: center;
}

table{
    margin: auto;
}

#num{
    font-size: 200px;
}
.tL{
    width:20px;
}

.tN{
    width:800px;
    height: 30px;
}

#name{
    margin-top: 200px;
    margin-right: 10px;
}