#main {
  position: relative;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Noto Serif JP", serif;
}

.bg {
  width: 100%;
  display: block;
}

.serif {
  position: absolute;
  font-family: "Noto Serif JP", serif;
  right: 20%;
  top: 10%;
  font-size: 4vw;
  opacity: 0.7;
  transition: 2s;
}
.img {
  position: absolute;
  left: 5%;
  top: 5%;
  height: 50%;
  opacity: 0.7;
  transition: 2s;
 
}

.img:hover + .serif {
  opacity: 0;
}

.img:hover {
  opacity: 0;
}
